/* Requiements

1. Colors


- Very dark desaturated blue: hsl(238, 29%, 16%)
- Soft red: hsl(14, 88%, 65%)

#Gradients
- Soft violet: hsl(273, 75%, 66%)
- Soft blue: hsl(240, 73%, 65%)


Dark gray: hsl(0, 0%, 59%)

#Divider
- Light grayish blue: hsl(240, 5%, 91%)

2. Fonts
- Family: [Kumbh Sans](https://fonts.google.com/specimen/Kumbh+Sans)
- Weights: 400, 700
Font size: 12px;

*/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

body {
	font-family: 'Kumbh Sans', sans-serif;
	font-weight: 400;
	font-size: 1.2rem;
}

.section-accordion {
	background-image: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
	height: 800px;
	width: auto;
	display: flex;
	align-items: center;
	justify-content: center;
}

.container {
	background-color: #ffffff;
	display: grid;
	grid-template-columns: 1fr 1fr;
	margin: 0 20rem;
	border-radius: 24px;
	width: 966px;
	min-height: 549px;
	position: relative;
	z-index: 1;
	box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2);
}

.accordion-img {
	background-image: url('../images/bg-pattern-desktop.svg');
	background-position: -600px -347px;
	background-position: -600px -288px;
	background-repeat: no-repeat;
}

.accordion-img-box {
	position: absolute;
	left: -10%;
	top: 40%;
}

.accordion-img-illustation {
	background-image: url('../images/illustration-woman-online-desktop.svg');
	height: 100%;
	background-repeat: no-repeat;
	background-position: -727% 43%;
}

.divider {
	border-bottom: 1px solid hsl(240, 5%, 91%);
	margin-bottom: 0.5rem;
}

h1 {
	font-size: 3.5rem;
	font-weight: 700;
	margin-bottom: 3rem;
}

li {
	list-style: none;
	padding-bottom: 1rem;
}

.btn {
	border: none;
	background-color: #fff;
	cursor: pointer;
	display: flex;
}

.accordion-content {
	margin: auto auto;
	padding: 4rem 6.5rem;
}

.accordion-items {
	display: flex;
	flex-direction: column;
	gap: 1.4rem;
}

.accordion-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	cursor: pointer;
	padding: 1rem 0;
	align-items: center;
}

.accordion-title {
	font-size: 1.4rem;
}

.accordion-text {
	line-height: 1.5;
}

.hidden-box {
	display: none;
}

.open .accordion-header {
	font-weight: 700;
}

.open .accordion-text {
	display: inline-block;
}

.arrow-up {
	transform: rotate(180deg);
}

.attribution {
	margin-top: 2rem;
	text-align: center;
	background-color: hsl(240, 73%, 65%);
	padding: 1.5rem;
	color: #fff;
}

.attribution a:link,
.attribution a:visited {
	color: #fff;
	text-decoration: none;
}

@media (max-width: 90em) {
}

@media (max-width: 24em) {
	html {
		font-size: 56.25%;
	}
	.section-accordion {
		height: 800px;
		width: 365px;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.container {
		background-color: #ffffff;
		display: grid;
		grid-template-columns: 1fr;
		margin: 0 3.5rem;
		border-radius: 24px;
		position: relative;
		z-index: 1;
		/* box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2); */
	}

	.accordion-content {
		margin: auto auto;
		padding: 2rem 2.5rem;
	}

	h1 {
		text-align: center;
	}

	.accordion-img {
		background-image: url('../images/bg-pattern-mobile.svg');
		background-position: center 0px;
		background-repeat: no-repeat;
		height: 125px;
	}

	.accordion-img-box {
		display: none;
	}

	.accordion-img-illustation {
		background-image: url('../images/illustration-woman-online-mobile.svg');
		background-repeat: no-repeat;
		background-position: 9px -9px;
		padding-top: 200px;
		margin-top: -96px;
	}
}
